# Python files
*.pyc
.pypirc


# Distribution
*.egg-info/
.installed.cfg
*.egg
.coverage
.spyderworkspace
.vscode*

# Notebooks
*.ipynb
notebooks/

# MLFlow
*mlruns/

# Models
data/models
data/checkpoints