/exp_pipe_random.npz
/exp_pipe_surfB.npz
/profile_surfB.pkl
/profile_surfA.pkl
/synth_data.npz
/synth_inputSignal.txt
/exp_pipe_surfA.npz
/synth_flat.npz
/exp_flat.npz
/synth_flat_fft_vel.npz
/synth_flat_fft.npz
/synth_flat_vel.npz
/synth_data_fft.npz
/synth_data_vel.npz
/synth_data_fft_vel.npz
